converter
pr_pull_async
pr_pull_sync
pr_push_sync
bfs_bu
bfs_td
bfs_hybrid

test/out/*.out

benchmark/out/*.out
benchmark/graphs/*.sg
benchmark/graphs/*.wsg
benchmark/graphs/raw/*

pagerank_performance.pdf
bfs_performance.pdf
pr_results.json
bfs_results.json
pr_logging.json
bfs_logging.json
BFS_logging_performance.pdf
PageRank_logging_performance.pdf